<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="index.css">
    <script src="https://kit.fontawesome.com/42d50a4c3d.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="isha">
        <div class="chatMenu">
            <div class="person">
                <span class="start"><h2>Select a chat to start messaging</h2></span>
            </div>
            <hr>
            <div  class="person">
                <span class="chatName" id="Chemistry"><i class="fa-solid fa-message fa-lg"></i>   Chemistry</span>
            </div>
            <hr>
            <div  class="person">
                <span class="chatName" id="Physics"><i class="fa-solid fa-message fa-lg"></i>   Physics</span>
            </div>
            <hr>
            <div  class="person">
                <span class="chatName" id="Maths"><i class="fa-solid fa-message fa-lg"></i>   Maths</span>
            </div>
            <hr>
        </div>
        <div class="messages">
        <div class="selectedChat">
          <h1 style="margin: 20px" id="selectedChatName"></h1>
        </div>
            <i class="fa-solid fa-comment fa-10x"></i>
            <ul id="messages"></ul>
            <form action="" method="post" id="form">
                <input type="text" class="txtMsg" id="input">
                <button type="submit" class="send"><i class="fa-solid fa-circle-arrow-right fa-3x"></i></button>
            </form>
        </div>
    </div>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="index.js" charset="utf-8"></script>
    <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    var form = document.getElementById('form');
  var input = document.getElementById('input');

  form.addEventListener('submit', function(e) {
    e.preventDefault();
    if (input.value) {
      socket.emit('chat message', input.value);
      input.value = '';
    }
  });
  socket.on('chat message', function(msg) {
         var item = document.createElement('li');
         item.textContent = msg;
         messages.appendChild(item);
         window.scrollTo(0, document.body.scrollHeight);
       });
  </script>
</body>
</html>
